$color-primary-light: #e8f1e2;
$color-primary-dark: #fff6ff;
$color-secondary-1: #e1be74;
$color-secondary-2: #b13a71;
$color-tertiary: #251b2a;

$color-white: #fff;
$color-black: #000;

$font-size-default: 1.6rem;
