.img-card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 25rem;
  height: 30rem;
  &__picture {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    &--1 {
      background-image: url("../img/jpg/me-bw-sq.jpg");
    }
    &--2 {
      background-image: url("../img/jpg/me-beer.jpg");
    }
    &--3 {
      background-image: url("../img/jpg/me-stairs.jpg");
    }
  }
  &__side {
    box-shadow: 0 0.5rem 1.5rem rgba($color-black, 0.15);
    padding: 1rem 1rem 0 1rem;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    background-image: radial-gradient($color-white, rgb(255, 237, 217));
    cursor: pointer;
    &--back {
      transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
