.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $color-tertiary;
  padding: 1rem 1.5rem;
  z-index: 99999;
  &__logo {
    max-height: 4rem;
    width: 10rem;
    object-position: 0 60%;
    object-fit: cover;
    overflow: hidden;
    @include break(phone) {
      display: none;
    }
  }
  &__tabs {
    @include break(phone) {
      margin: 0 auto;
    }
  }
}
