.section-portfolio__item {
  width: 25.6rem;
  text-align: center;
  &__gif {
    transition: all 0.4s;
    width: 25.6rem;
    height: 16rem;
    box-shadow: 0 0.5rem 0.4rem rgba($color-black, 0.3);
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0.8rem 0.8rem rgba($color-black, 0.1);
    }
  }
}
