body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: $font-size-default;
  line-height: 1.7;
}

.heading-primary {
  margin: 0 auto;
  width: 40%;
  background-color: $color-secondary-1;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin: 3rem auto;
  text-align: center;
  transform: skew(-15deg);
  & > h1 {
    transform: skew(15deg);
    // -webkit-background-clip: text;
    // background-clip: text;
    color: $color-primary-dark;
    font-size: 3.4rem;
    // background-image: linear-gradient(to bottom, $color-tertiary, $color-white);
  }
}

.section-about {
  &__description {
    padding: 0 2rem;
  }
}
