.section-about {
  border-radius: 3px;
  width: 100%;
  padding: 0 2rem;
  &__carousel {
    display: flex;
    justify-content: space-around;
  }
}

.section-experience {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
